<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>sinatraBBS</title>
</head>
<body>
 <ul>
   <% @comment.each do |comment| %>
   <li>
     <%= comment.id%> : <%= h(comment.body).gsub(/(\r\n|\r|\n)/, "<br />") %> 　by <%= h comment.user_name %>
   </li>
   <% end %>
 </ul>
<form method="post" action="/new">
 名前:<input type="text"name="user_name"/></br>
 コメント:<br/>
  <textarea name="comment"/></textarea></br>
 <input type="submit" value="post">
</form>

</body>
</html>